@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Çamlık mah<br />
    Pirireis cad no 22, Çamlık Teras site<br />
    E blok D: 12, Pendik <br />
    <abbr title="Phone">Cep:</abbr>
   +905367006123
</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:romanhussein30@gmail.com">romanhussein30@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="www.facebook.com/modar991">www.facebook.com/modar991</a>
</address>