
@{
    Layout = null;
}

<div>Merhaba</div>
<br />
<h2>Selam</h2>
<br />
<h3>Mvc Kamp Tablo Örneği: Kategori</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Adi</th>
        <th>Aciklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Modar</td>
        <td>Aciklama oldu</td>
        <td>True</td>
    </tr>
</table>
